body {
    background-image: url(/images/rainidays2-mobile-homepage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
  
.home {
    border-style: none none solid none;
}
  
.fa-bars {
    color: var(--white);
}
  
h1, h2 {
    color: var(--white);
    margin-left: 20px;
}
  
h1 {
    font-size: 2rem;
    letter-spacing: 5px;
}

.cta {
    margin: 100px auto;
    background-color:rgba(10,54,64,0.5);
}
  
h2 {
    font-size: 1.5rem;
    position: absolute;
    bottom: 5px;
    right: 20px;
}


.featured-image {
    height: 350px;
    background-position: center;
    width: 250px;
    margin-top: 40px;
}

.name {
    color: var(--logo);
    margin-left: 0;
}

/* .card {
    max-width: 400px;
} */

/* .wrap {
    max-width: 300px;
} */
  
.featured-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* li a {
    color: var(--white);
}
   */
@media only screen and (min-width: 1200px) {
    .top-screen {
      background-image: url(/images/hjemmesidebilde.jpg);
      background-position: bottom;
      min-height: 90vh;
    }

    body {
        background-image: none;
    }
  
    h1 {
      font-size: 6rem;
      padding-top: 150px;
      text-align: center;
      /* margin-top: 300px;
      margin-left: 40px; */
    }
  
    h2 {
      font-size: 3rem;
    }
}
  